<%- include('partials/header'); -%>

<div style="border-bottom: 1px solid white; border-top: 1px solid white; padding-top: 10px;">
	<div>
		<h1>Quizes</h1>
		<br>
	</div>
</div>
<br>

<!-- <button type="button" class="btn" id="create-btn" style="display: block;"> <a href="/api/groups/quiz">Create</a> </button> -->

<% if (user.role === 'TEACHER') { %>
	<button type="button" class="card-btn" id="create-btn" style="display: block;"> <a href="/api/quizes/set-quizes/<%= groupId %>">Create</a> </button>
<% } %>

<!-- <button type="button" class="card-btn" id="create-btn" style="display: block;"> <a href="/api/quizes/set-quizes/<%= groupId %>">Create</a> </button> -->


<br>
<div class="main">
	<% if (quizes.length > 0) { %>
	  <% quizes.forEach(quiz => { %>
		 <div class="group-card">
			<div class="group-container">
			  <h2 class="snippet"><%= quiz.name %></h2>
			  <br>
			  <h3>Category: Achivement Test</h3>
			  <h3>Total Marks: 50</h3>
			  <h3>Passing Marks 20</h3>
			  <h3></h3>
			<div class="verticle-btn">
				<button><a href="/api/quizes/set-quiz-form/<%= quiz.id %>">Open</a></button>
			<!-- quizId -->
				<!-- <button><a href="/api/quizes/<%= quiz.groupId %>">Open</a></button> -->
				<button><a href="http://">Remove</a></button>
			</div>

			</div>
		  </div>
		  <br>
	  <% }) %>
	<% } else { %>
		<p>There are no  to display...</p>
	<% } %>

  </div>


<%- include('partials/footer'); -%>