<%- include('partials/header'); -%>
<br>
<br>

<% if (creator) { %>

  <div style="display: flex; padding: 10px;">
    <button type="button" class="card-btn" id="delete-quiz-btn" style="display: block;"> Delete </button>
    <button  type="button" class="card-btn" id="join-btn" style="display: block;"> <a href="/api/results/<%= quizId %>">Results</a> </button>
  </div>

 
<% } %>

<form id="quiz-form"> 
  <% for(let i = 0; i < questions.length; i++ ){ %>
    <div >
      <p class="question-txt"><strong><%=i+1%>.<%= questions[i].question_text  %> </strong></p>
      <input class="user-input" type="radio" id="<%= questions[i].options[0].id  %>" name="<%= questions[i].id  %>" value="A"><label for="<%= questions[i].options[0].id  %>"><%= questions[i].options[0].txt  %></label><br>
      <input class="user-input" type="radio" id="<%= questions[i].options[1].id  %>" name="<%= questions[i].id  %>" value="B"><label for="<%= questions[i].options[1].id  %>"><%= questions[i].options[1].txt  %></label><br>
      <input class="user-input"type="radio" id="<%= questions[i].options[2].id  %>" name="<%= questions[i].id  %>" value="C"><label for="<%= questions[i].options[2].id  %>"><%= questions[i].options[2].txt  %></label>
      <br>
      <input class="user-input" type="radio" id="<%= questions[i].options[3].id  %>" name="<%= questions[i].id  %>" value="D"><label for="<%= questions[i].options[3].id  %>"><%= questions[i].options[3].txt  %></label>
    </div>
    <br>
  <% } %>
  <br>

  <% if (!participation &&  !creator) { %>
    <input class="quiz-form-submit" type="submit" value="SUBMIT"> 
  <% } %>

</form>


<%- include('partials/footer'); -%>


<script>
  const groupId = location.pathname.split('/')[4];
  const quizId = location.pathname.split('/')[5];
  const quizForm = document.getElementById('quiz-form')
  const userInputs = document.getElementsByClassName('user-input');
  const deleteQuizButton = document.getElementById('delete-quiz-btn');

  if (deleteQuizButton) {
    deleteQuizButton.addEventListener('click', async function (e) {
      e.preventDefault();
      
      console.log(e);

			try {
				const res = await fetch(`/api/quizes/remove/${groupId}/${quizId}`, {
					method: 'DELETE', 
   
				})

				if (res) {
          location.assign(`/api/quizes/${groupId}`);
        }


			} catch (error) {
				console.log(error);
			}

    })
  }
  
  quizForm.addEventListener('submit', async function (e) {
    e.preventDefault();

    const response = []

    for(i = 0; i < userInputs.length; i++) {
      if(userInputs[i].checked) {
        response.push(userInputs[i].value)
      }
    }

    try {
      const res = await fetch(`/api/quizes/set-quiz-form/${groupId}/${quizId}`, { 
        method: 'POST', 
        body: JSON.stringify({ response: response }),
        headers: {'Content-Type': 'application/json'}
      });

      const data = await res.json();

      if (data) {
        location.assign(`/api/quizes/${groupId}`);
      }


    } catch(error) {
      console.log(error);
    }

  });
</script>